body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}



.admin-login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    align-items:center;
}

.admin-login-header h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.admin-login-header p {
    margin-bottom: 20px;
    color: #666;
}

.admin-login-form .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.admin-login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.admin-login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-container button:hover {
    background-color: #218838;
}

.forgot-password {
    margin-top: 15px;
    color: #666;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
